{% extends "base.html" %}
{% load static %}
{% block meta_tags %}
	<!-- Global site tag (gtag.js) - Google Analytics -->

{% endblock %}
{% block title %}
	Codeilm - A storytelling site for developers
{% endblock %}
{% block content %} <!-- blue lime -->
{% include "simple-navbar.html" %}

{% if request.user.is_impersonate %}
	{{ request.impersonator.username }} is impersonating {{ request.user.username }}
{% endif %}

{% if messages %}
	{% for message in messages %}
		<div class="row">
			<div class="col s12 center">
				<p class="center-align"></p>
				<div class="chip {{ message.tags }}">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

<div class="container">
	<div class="row">
		<div class="col l9 s12">
			<h2>Bring the amazing experience🎉🎉<br/> of Codeilm to your site</h2>
		</div>
		<div class="col l3 s12 hide-on-med-and-down">
			<img src="{% static 'images/hero.png' %}" style="width: 100%; margin-top: 30px;" alt="Codeilm">
		</div>
	</div>

	<div class="row" style="padding-top: 40px;">
    <form class="col s12">
      <div class="row">
        <div class="input-field col m6 s12">
          <input id="subscribe-email" type="email" class="validate" value="{{ request.user.email }}" required>
          <label for="subscribe-email">Your Email</label>
        </div>
        <div class="col m6 s12" style="margin-top: 1rem;">
        	<button id="submitEmail" type="submit" class="waves-effect waves-light btn" style="text-transform: none; background: linear-gradient(45deg, #FE6B8B 30%, #f20e02 90%);">Setup Codeilm</button>
					<span id="preloader" style="display: none;  margin-left: 20px; margin-top: 1rem;">
						{% include "preloader.html" %}
					</span>
        </div>
      </div>
        <p style="color: #4CAF50;" id="email-submit-status">
        </p>
    </form>
  </div>

	<div class="row">
		<div class="col s12">
			<h4>Add Codeilm to your website and experience the ease of writing technical blogs</h4>
		</div>
		<div class="col s12">
			<img src="https://codeilm.com/static/images/screenshots/main.png" class="z-depth-3" style="width: 100%; margin-top: 30px;" alt="Codeilm">
		</div>
	</div>

</div>




<footer class="page-footer white z-depth-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Codeilm</h5>
        <p class="black-text text-lighten-4">A storytellling site for developers</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="https://www.facebook.com/Codeilm-583644822460909">Facebook</a></li>
          <li><a class="black-text text-lighten-3" href="https://www.linkedin.com/company/codeilm">LinkedIn</a></li>
          <li><a class="black-text text-lighten-3" href="https://www.youtube.com/channel/UC9-UILXUR8gV4Fw8eQ4hZSQ">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black-text">
    <div class="container back-text">
    © {% now "Y" %} Codeilm.com
    </div>
  </div>
</footer>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('#submitEmail').on('click', function(e) {
		var emailValid = $('#subscribe-email')[0].checkValidity()
		var data = {
			"email": $('#subscribe-email').val(),
			"extra_data": JSON.stringify({"purpose": "Contact for add to site"})
		}
		if (emailValid) {
			e.preventDefault();
			$.ajax({
            type: 'POST',
            url: "{% url 'emailcapture:save_leadcapture_email' %}",
            data: data,
            dataType: "json",
            success: function(data) {
            	$('#email-submit-status').html(data["msg"])
							$('#preloader').hide();
							$('#submitEmail').show();
            },
            fail: function() {
                console.log("error")
								$('#preloader').hide();
								$('#submitEmail').show();
            },
            beforeSend: function(xhr) {
            	console.log("posting data", data)
							$('#preloader').show();
							$('#submitEmail').hide();
                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
        });
		}
	})
</script>

{% endblock %}
