{% load static %}
<nav class="nav-extended white">
	<div class="nav-wrapper">
		<a href="https://codeilm.com" class="brand-logo left hide-on-med-and-down">
			<img class="responsive-img" src="{% static 'images/codeilmlogo.png' %}" style="padding-top: 13px;padding-left: 10px;" height="200" width="200">
		</a>
		<a href="https://codeilm.com" class="brand-logo center hide-on-large-only">
			<img class="responsive-img" src="{% static 'images/codeilmlogo.png' %}" style="padding-top: 13px;" height="200" width="200">
		</a>
		<ul class="right hide-on-med-and-down">
			<li>
					<div class="chip transparent">
						{% if request.user.is_authenticated %}
						{{ request.user }}
						{% endif %}
					</div>
			</li>
	</ul>
</div>
</nav>
